<nav class="navbar navbar-expand-lg fixed-top navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Pokémon TCG Developers</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link" href="https://pokemontcg.io/about">About</a>
            <a class="nav-item nav-link" href="https://docs.pokemontcg.io/">Documentation</a>
            <a class="nav-item nav-link" href="https://pokemontcg.io/featured">Featured Apps</a>
        </div>
    </div>
</nav>