<div>
    <label for="search-pokemon"></label>
    <div class="labels">Pokémon TCG Developers - Teste <img class="smile" src="../../../assets/grin-beam-regular.svg" alt="">
        <form [formGroup]="formPokemon" (ngSubmit)="getName()">
            <div class="search-pokemons">
                <input type="text" name="search" class="form-control" formControlName="name" placeholder="Digite o nome...">
                <button type="submit">
                    <img class="icon-search" src="../../../assets/search-solid.svg" alt="">
                </button>
            </div>
        </form>
    </div>
</div>